# Secrets / local env overrides
.env
.devcontainer/.env

# colcon build artifacts
build/
install/
log/

# Python byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Editor / OS artifacts
.DS_Store
*.swp
*.swo

//for running on windows
rc/rnm_sample/rnm_sample/__pycache__/__init__.cpython-310.pyc
rnm-workspace-main/ros2_ws/src/rnm_sample/rnm_sample/__pycache__/talker.cpython-310.pyc
